@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
  margin: 0;
  font-family: Inter, sans-serif;
}
nav {
  background-color: #F55A5A;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 55px;

}
.nav--title {
  font-weight: 500;
  font-size: 15px;
}
.nav--icon {
  font-size: 24px;
}
.card {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  gap: 10px;
  margin: 40px;
  


}
.card--img 
{

}
.cards-list
{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.card--icon
{
  color: #F55A5A;
  font-size: 14px;
  padding-right: 5px;
}
.card--locationText 
{
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  padding-right: 12px;
}
.card--googleLink 
{
  color:#918E9B;
  font-weight: 400;
  font-size: 12px;
}
.card--title
{
  line-height: 10px;
  font-size: 30px;
  font-weight: bold;
}
.card--dates 
{
  font-weight: bold;
  font-size: 12px;
}
.card--description
{
  font-style: normal;
  font-weight: normal;
  font-size: 14.5px;
}
